body{
    background-image: url('https://i.postimg.cc/BZkj4KvG/bg-ps.jpg');
}
img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
#balik{
    float: left;
}
.tengah{
    text-align: center;
}
a{text-decoration: none;}